@model IEnumerable<Cookizi.Models.QLFood>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>Search</h2>

    <p>
        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
        {
        <div class="search">
            <input type="text" class="search-input" name="search" placeholder="Nhập vào tìm kiếm" />
            <button class="header__search-btn">
                <i class="header__search-btn-icon fas fa-search"></i>
            </button>
        </div>
            
        }
    </p>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenFood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguyenLieu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenFood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NguyenLieu)
                </td>
                
            </tr>
        }

    </table>
</center>